= form_tag("/ideas/#{@idea.id}", method: :post, multipart: true) do
  = hidden_field_tag '_method', 'put'
  - Idea.viewbox_list.each do |vb|
    - if vb.shown
      = render partial: vb.partial_name, layout: 'builder_box', locals: {vb: vb}
  = submit_tag 'Save', class: 'btn btn-primary', id: 'object-save'
