.row
  .col-xs-12
    - if @idea.id.nil? 
      Create Idea
    - else
      .page-title
        = "Edit Idea: #{@idea.title}"

= form_tag("/ideas/#{@idea.id || '0'}", method: :post) do
  = hidden_field_tag '_method', 'put'
  - Idea.viewbox_list.each do |vb|
    - if vb.shown
      = render partial: vb.partial_name, layout: 'builder_box', locals: {vb: vb}
  = submit_tag 'Save', class: 'btn btn-primary', id: 'object-save'
