.row
  .col-xs-6.col-xs-offset-3
    .h2.text-center
      Admin Sign In
.row
  .col-xs-6.col-xs-offset-3.sign-in-form
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %div
        = f.label :email
        %br
        = f.email_field :email, :autofocus => true, class: 'form-control'

      %div
        = f.label :password
        %br
        = f.password_field :password, class: 'form-control'
      .row.auth-form-footer
        .col-xs-12
          - if devise_mapping.rememberable?
            %div.to-left
              = f.check_box :remember_me
              = f.label :remember_me, style: 'margin-bottom: 0px; vertical-align: middle'
            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
              = link_to "Forgot your password?", new_password_path(resource_name), class: 'to-right'

      %div
        = f.submit "Login", class: 'btn btn-primary'

    = render "devise/shared/links"

