.row.para-line
  .col-xs-offset-3.col-xs-6.survey-dropdown-cell.text-center
    Survey Status
= form_tag("/surveys/#{@survey.id || '0'}", method: :post, id: :survey_edit) do
  = hidden_field_tag '_method', 'put'
  = hidden_field_tag :survey_id, @survey.id
  = hidden_field_tag 'survey[status]', @survey.status
  .row.para-line
    .col-xs-offset-3.col-xs-6.survey-dropdown-cell
      #status-change-dropdown
        .cell-1        
          %span.shown-text
            = @show_list_keys[@survey.status]
          %i.fa.fa-chevron-down
        .dd-choice-list
          - @show_list_keys.each do |key, val|
            .dd-choice{'data-status-key' => key}
              = val

  - Survey.viewbox_list.each do |vb|
    - if vb.shown
      = render partial: vb.partial_name, layout: 'builder_box', locals: {vb: vb}

  = submit_tag 'Save', class: 'btn btn-primary', id: 'object-save'
- if @survey.individual_answers.count > 0
  = render partial: 'surveys/report'
