.row
  .col-xs-12
    - if @survey.id.nil? 
      Create Survey
    - else
      .page-title
        = "Edit Survey"
  
= form_tag("/surveys/#{@survey.id || '0'}", method: :post, id: :container_update) do
  = hidden_field_tag '_method', 'put'
  = hidden_field_tag :redirect, '', id: :redirect
  = hidden_field_tag :survey_id, @survey.id
  - @survey.viewbox_list.each_with_index do |vb, idx|
    = render partial: vb.partial_name, layout: 'builder_box', locals: {is_hidden: !vb.shown, build_box_title: vb.title, box_index: idx, box_key: vb.box_key, expected_length: vb.expected_length}

  = submit_tag 'Save', class: 'btn btn-primary'
