.row.para-line
  .col-xs-offset-3.col-xs-6.survey-dropdown-cell.text-center
    Survey Status
= form_tag("/surveys/#{@survey.id || '0'}", method: :post, id: :survey_edit) do
  = hidden_field_tag '_method', 'put'
  = hidden_field_tag :survey_id, @survey.id
  = hidden_field_tag 'survey[status]', @survey.status
  = hidden_field_tag 'hidden_public_link', @full_public_link
  - Survey.viewbox_list.select { |vb| ['title', 'survey_status'].include?(vb.partial_name) }.each do |vb|
    - if vb.shown
      = render partial: vb.partial_name, layout: 'builder_box', locals: {vb: vb}

  .builder-box.row
    .col-xs-offset-4.col-xs-4
      .title
        Share Survey
    .col-xs-12.text-center.link-font#public-link
      - if @survey.has_state?(:published)
        .bold-text
          = link_to public_show_surveys_url(public_link: @survey.public_link), public_show_surveys_url(public_link: @survey.public_link)
      - else
        = link_to 'Not published', '#'
        
  - if @survey.individual_answers.count > 0
    = render partial: 'surveys/report_heading'
    .builder-box.row
      .col-xs-6
        %a{href: report_survey_path(@survey)}
          .btn.green
            Summary Report
      .col-xs-6
        %a{href: report_survey_path(@survey, full: 1)}
          .btn.red
            Full Report
    
  - Survey.viewbox_list.select { |vb| !(['title', 'survey_status'].include?(vb.partial_name)) }.each do |vb|
    - if vb.shown
      = render partial: vb.partial_name, layout: 'builder_box', locals: {vb: vb}

  = submit_tag 'Save', class: 'btn btn-primary', id: 'object-save'
