.row
  .col-xs-12
    - if @survey.id.nil? 
      Create Survey
    - else
      .page-title
        = "Edit Survey"
  
= form_tag("/surveys/#{@survey.id || '0'}", method: :post, id: :survey_edit) do
  = hidden_field_tag '_method', 'put'
  = hidden_field_tag :survey_id, @survey.id

  - Survey.viewbox_list.each do |vb|
    - if vb.shown
      = render partial: vb.partial_name, layout: 'builder_box', locals: {vb: vb}

  = submit_tag 'Save', class: 'btn btn-primary', id: 'object-save'
