%h1
  Survey Creation: Step #{@payload[:current_step]} of #{@payload[:total_steps]}
  
= form_tag('/surveys/update', method: :post) do
  = hidden_field_tag :step_command, 'init'
  .form-header
    = label_tag :title
    = text_field_tag :title, '', class: 'form-control', autofocus: true

  = submit_tag 'Next'
