%h1
  Survey Creation: Step #{@payload[:current_step]} of #{@payload[:total_steps]}
  
= form_tag('/surveys/update', method: :post) do
  = hidden_field_tag :save_step, @payload[:current_step]
  = render partial: "step_#{@payload[:current_step]}"
  = submit_tag (@payload[:next_step] == -1 ? "Finish!" : "&rsaquo; Step #{@payload[:next_step]}".html_safe), class: 'btn btn-primary'
