= hidden_field_tag 'metadata[cookie_key]', @cookie_key, class: 'metadata'
= hidden_field_tag :survey_data, '', 'data-survey-id' => @survey.id

.row
  .page-title.col-xs-12
    #{@survey.title}

#app
%script#sq-template{type: 'text/template'}
  .sq-intro-section
    .row
      <%- title %>
    = hidden_field_tag :survey_question_data, '', 'data-question-type' => "<%- question_type %>"
  #idea-list

= render partial: 'backbone_templates'
%button#save-response
  Save Response
