= hidden_field_tag :cookie_key, @cookie_key, class: 'metadata'
= hidden_field_tag :survey_token, '', 'data-survey-token' => @survey.public_link

#survey-public-view
  #survey-navbar
  #survey-intro.survey-sections
  #sq-list
  #survey-summary.survey-sections
  #survey-thankyou.survey-sections

/* not perfectly dry, could use some work here TODO */
- content_for :body_html do
  #idea-list
= render partial: 'participant_template', locals: {script_id: 'survey-question-screen-template'}
    
- content_for :body_html do
  <%- screen_body_content %>
= render partial: 'participant_template', locals: {script_id: 'survey-empty-screen-template'}
    
%script#survey-summary-template{type: 'text/template'}
  .screen
    .col-xs-8.col-xs-offset-2
      .screen-title
        Skipped Questions
    .col-xs-8.col-xs-offset-2.bold-text
      .screen-body#skipped-list.row.summary-list
        
    .col-xs-8.col-xs-offset-2.bold-text
      .screen-title
        Answered Questions
    .col-xs-8.col-xs-offset-2.bold-text
      .screen-body#answered-list.row.summary-list

// This is the one nested in the summary screen
= render partial: 'question_summary'
        
// navbar template
%script#survey-nb-template{type: 'text/template'}
  .col-xs-offset-3.col-xs-6
    .row
      .col-xs-2#go-left.active.navtab
        Previous
      .col-xs-8#current-question.navtab
        <%- shown_qn_index %> of <%- total_screens %> steps
        %i.fa.fa-chevron-down
      .col-xs-2#go-right.active.navtab
        Next
    .row#other-sections{style: 'display: none'}

// navbar dropdown row
%script#public-navbar-dropdown-element{type: 'text/template'}
  .col-xs-offset-2.col-xs-8.clickable{'data-question-index' => '<%- idx %>'.html_safe}
      
= render 'survey_question_templates/all_idea_templates'
= render 'survey_question_templates/all_field_templates'
