= hidden_field_tag :cookie_key, @cookie_key, class: 'metadata'
= hidden_field_tag :survey_token, '', 'data-survey-token' => @survey.public_link

#survey-public-view
  #survey-navbar
  #survey-intro.survey-sections
  #sq-list
  #survey-summary.survey-sections
  #survey-thankyou.survey-sections

%script#survey-intro-template{type: 'text/template'}
  .screen#welcome-screen
    .row
      .col-xs-offset-3.col-xs-6
        .public-title
          Introduction
    .row       
      .col-xs-offset-2.col-xs-8
        .public-body
          <%- introduction %>
          
%script#survey-summary-template{type: 'text/template'}
  .screen#summary-screen
    .col-xs-6.col-xs-offset-3
      .summary-title
        Skipped Questions
      #skipped-list.row.summary-list

    .col-xs-6.col-xs-offset-3.bold-text
      .summary-title
        Answered Questions
      #answered-list.row.summary-list

// This is the one nested in the summary screen
%script#survey-question-summary-template{type: 'text/template'}
  .col-xs-12.bold-text
    <%- title %>
  .col-xs-12
    <%- question_prompt %>
        
%script#survey-thankyou-template{type: 'text/template'}
  .screen#thankyou-screen
    .row
      .col-xs-12
        .public-title
          = t('public.screen_titles.thankyou')
    .row       
      .col-xs-offset-2.col-xs-8.public-body
        <%- thankyou_note %>
    #messages.row

// navbar template
%script#survey-nb-template{type: 'text/template'}
  .col-xs-offset-3.col-xs-6
    .row
      .col-xs-4#go-left.active
        Previous
      .col-xs-4#current-question
        <%- current_question_index %> of <%- total_screens %> steps
        %i.fa.fa-chevron-down
      .col-xs-4#go-right.active
        Next
    .row#other-sections{style: 'display: none'}
          
%script#survey-question-template{type: 'text/template'}
  .screen
    .col-xs-offset-3.col-xs-6
      .question-prompt
        <%- question_prompt %>    
    .col-xs-offset-3.col-xs-6
      .answered-status
        False
    #idea-list.col-xs-12

= render 'survey_question_templates/all_idea_templates'
= render 'survey_question_templates/all_field_templates'
