= hidden_field_tag :survey_data, '', 'data-survey-id' => @survey.id
#test
.row
  .page-title.col-xs-12
    #{@survey.title}
    
- if @survey_question
  = hidden_field_tag :survey_question_data, '', 'data-question-type' => @survey_question.question_type
  .row
    = @survey_question.title
  .row
    #idea-list

  = render partial: 'backbone_template', locals: {qn_type: @survey_question.question_type}
  
