= hidden_field_tag :cookie_key, @cookie_key, class: 'metadata'
= hidden_field_tag :survey_token, '', 'data-survey-token' => @survey.public_link

#survey-public-view
  #survey-navbar
  #survey-intro.survey-sections
  #sq-list
  #survey-summary.survey-sections
  #survey-thankyou.survey-sections

/* not perfectly dry, could use some work here TODO */
- content_for :body_html do
  #idea-list
= render partial: 'participant_template', locals: {script_id: 'survey-question-screen-template'}
    
- content_for :body_html do
  <%- screen_body_content %>
= render partial: 'participant_template', locals: {script_id: 'survey-empty-screen-template'}
    
%script#survey-summary-template{type: 'text/template'}
  .screen{'id' => raw('<%- question_screen_id %>')}
    .col-xs-6.col-xs-offset-3
      .screen-title
        Skipped Questions
    .col-xs-6.col-xs-offset-3.bold-text
      .screen-body#skipped-list.row.summary-list
        
    .col-xs-6.col-xs-offset-3.bold-text
      .screen-title
        Answered Questions
    .col-xs-6.col-xs-offset-3.bold-text
      .screen-body#answered-list.row.summary-list

// This is the one nested in the summary screen
%script#survey-question-summary-template{type: 'text/template'}
  .col-xs-12.bold-text
    <%- title %>
  .col-xs-12
    <%- question_prompt %>
        
// navbar template
%script#survey-nb-template{type: 'text/template'}
  .col-xs-offset-3.col-xs-6
    .row
      .col-xs-4#go-left.active
        Previous
      .col-xs-4#current-question
        <%- current_question_index %> of <%- total_screens %> steps
        %i.fa.fa-chevron-down
      .col-xs-4#go-right.active
        Next
    .row#other-sections{style: 'display: none'}
          
= render 'survey_question_templates/all_idea_templates'
= render 'survey_question_templates/all_field_templates'
