= hidden_field_tag :survey_data, '', 'data-survey-id' => @survey.id
#test
.row
  .page-title.col-xs-12
    #{@survey.title}
.row
  .page-title.col-xs-12
    #{@survey.survey_questions.count} Questions

.question-list
  .row.table-headers
    .col-xs-6
      Question
    .col-xs-6

  - @survey.survey_questions.each do |qn|
    .row
      .col-xs-6.cell-1
        = qn.title
      .col-xs-6.cell-1.center

#idea-list
    
%script#idea-wrapper-template{type: 'text/template'}
  
%script#idea-template{type: 'text/template'}
  .idea-title
    <%- title %>
    has <%- note_counts['pro'] %> pros and <%- note_counts['con'] %> cons.
    .notes-list
  .row    
    .col-xs-6.note-holder
      = text_area_tag :current_pro, ''
      %button.addpro.addnote
        Add Pro
    .col-xs-6.note-holder
      = text_area_tag :current_con, ''
      %button.addcon.addnote
        Add Con
        
