.row
  .page-title.col-xs-12
    #{@survey.title}
.row
  .page-title.col-xs-12
    #{@survey.survey_questions.count} Questions / Owner: #{@survey.owner.email}

.survey-summary
  .row.table-headers
    .col-xs-3
      Status
    .col-xs-3
      Completed Surveys
    .col-xs-3
      Completion Rate
    .col-xs-3
      Link

.question-list
  .row.table-headers
    .col-xs-6
      Question
    .col-xs-6
      Question Type
  - @survey.survey_questions.each do |qn|
    .row
      .col-xs-6.cell-1
        = qn.title
      .col-xs-6.cell-1.center
        = qn.question_type_name  
