.row
  .col-xs-12.page-title
    #{@survey.title}

.survey-summary
  .row.table-headers
    .col-xs-3
      Status
    .col-xs-3
      Completed Surveys
    .col-xs-3
      Completion Rate
    .col-xs-3
      Link
  .row.table-headers
    .col-xs-3
      = Survey::SurveyStatus.name(@survey.status)
    .col-xs-3
      = "%"
    .col-xs-3
      = "%"
    .col-xs-3
      = public_status_display @survey

.question-list
  .row.table-headers
    .col-xs-6
      Question
    .col-xs-6
      Question Type
  - @survey.survey_questions.each do |qn|
    .row.question-box
      .col-xs-6.cell-1
        = qn.title
      .col-xs-6.cell-1.center
        = qn.question_type_name  
