.navtop
  .float-right
    - if current_admin
      = link_to 'Sign Out', destroy_admin_session_path, :method => :delete
    - else
      = link_to 'Sign In', new_admin_session_path

  .brand-header
    = t(:site_brand)
    
.row.nav-secondary
  .col-xs-6.col-xs-offset-3
    .secondary-item-border.col-xs-4{class: is_selected(:ideas)}
      .secondary-item
        = link_to "Ideas", ideas_url
    .secondary-item-border.col-xs-4{class: is_selected(:questions)}
      .secondary-item
        = link_to "Questions", survey_questions_url
    .secondary-item-border.col-xs-4{class: is_selected(:surveys)}
      .secondary-item
        = link_to "Surveys", surveys_url
    
    
