.navtop
  .nav-right
    - if current_admin
      = link_to 'Sign Out', destroy_admin_session_path, :method => :delete
    - else
      = link_to 'Sign In', new_admin_session_path
  - if current_admin
    .brand-header{class: @signed_in_header}
      = t(:site_brand)
    
- if current_admin
  .row.primary-level
    .col-xs-4.col-xs-offset-4
      .secondary-item-border.col-xs-4{class: is_active(:ideas)}
        .secondary-item
          = link_to t(:ideas), ideas_url
      .secondary-item-border.col-xs-4{class: is_active(:survey_questions)}
        .secondary-item
          = link_to t(:survey_questions), survey_questions_url
      .secondary-item-border.col-xs-4{class: is_active(:surveys)}
        .secondary-item
          = link_to t(:surveys), surveys_url

  - if @level2_menu
    .row.secondary-level
      .col-xs-2.col-xs-offset-5.strike-padding
        .secondary-item
          %span.active-text
            = "#{t(@navbar_active_section)} >"
          %span.subsection-text
            = "#{t(@level2_menu)}"
